:root{
    --bgColor:rgb(23,32,42); /*Title font colors*/
}

body{
    background-color:var(--bgColor);
}

navbar{
    background-color:var(--bgColor);
}

a{
    text-decoration: none;
}

#nameHeader{
    color:var(--bgColor);
}


#banner{
    background-image: url(https://github.com/tlaze/Lazore-Portfolio/blob/main/images/banner.jpg?raw=true);
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: space-between;
}

#bannerImg{
    height:140px;
    width:150px;
    margin-top: 25px;
}

#bannerText{
    margin-top: 125px;
    margin-right: 10px;
    font-size:35px;
    background-color: var(--bgColor);
}

.project{
    border: 10px solid var(--bgColor);
}


.projectTitle{
    color:white;
    margin-top: 275px;
    background-color: var(--bgColor);
}

#project1Title{
    margin-top:400px;
}

#project1{
    background-image: url(https://cryptic-thicket-49114.herokuapp.com/);
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}

#project2{
    background-image: url(https://never-alone-platform.herokuapp.com/);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 350px;
}

#project3{
    background-image: url(https://tlaze.github.io/weather-dashboard/);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 350px;
}

#project4{
    background-image: url(https://caitlinw29.github.io/pokeBattle/);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 350px;
}

#project5{
    background-image: url(https://tlaze.github.io/password-generator/);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 350px;
}

.contacts{
    display:flex;
    justify-content: space-between;
}

.project:hover{
    transition:.2s;
    opacity:.6;
}